.benefits {
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.benefits-position {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * 30px);
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  font-size: 14px;
  letter-spacing: 0.03em;
}

.benefits-item {
  // flex-basis: calc(100% / 4 - 30px);
  flex-basis: calc(100% - 30px);
  margin-left: 30px;
  // justify-content: space-between;

  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits-title {
  display: flex;
  flex-wrap: wrap;

  justify-content: inherit;

  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $main-text-cl;
}

.benefits-caption {
  margin: 0;
  justify-content: inherit;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.benefits-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  min-width: 270px;
  margin-bottom: 30px;

  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
}
