.page-button {
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;

  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  background-color: $accent-cl;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
  color: $alt-titel-cl;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $accent-cl-focus;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
