.team {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  background-color: $second-bg;
  background-size: auto;
}

.team-title {
  text-align: center;
  margin: 0;

  line-height: 1.67;
  letter-spacing: 0.03em;
  color: $main-text-cl;

  font-size: 28px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  margin-left: calc(-1 * 30px);
}

.team-item {
  text-align: center;

  background: $alt-titel-cl;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  margin-left: 30px;
  margin-bottom: 30px;

  max-width: 450px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team-caption .list {
  display: inline-flex;
}

.team-caption {
  padding: 30px;
}

.team-caption__name {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $main-text-cl;
}

.team-caption__position {
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
