.partners {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.partners-position {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-title {
  margin-top: 0;

  line-height: 1.67;
  letter-spacing: 0.03em;
  color: $main-text-cl;

  font-size: 28px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}

.partners-item {
  margin-bottom: 30px;
  // margin-left: 30px;
  // margin-right: 30px;

  max-width: 210px;

  @media screen and (min-width: 768px) {
    max-width: 226px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.partners-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.partners-link {
  display: flex;
  justify-content: center;
  align-items: center;

  //width: 170px;
  min-width: 210px;
  height: 92px;

  border: 1px solid $link-fill;
  box-sizing: border-box;
  border-radius: 4px;

  fill: $link-fill;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: $accent-cl;
    border-color: $accent-cl;
  }

  @media screen and (min-width: 768px) {
    min-width: 226px;
  }

  @media screen and (min-width: 1199px) {
    min-width: 170px;
  }
}
