.subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.subscribe-label {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-position {
  display: flex;

  //
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.subscribe-input {
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 0);

  color: #ffffff;

  &:focus,
  &:hover {
    border-color: rgb(33, 150, 243);
    outline: none;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.subscribe-batton {
  display: flex;
  //
  margin-top: 20px;
  width: 200px;
  height: 50px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
  //
  & * {
    min-width: 24px;
    min-height: 24px;
    margin-left: 10px;
    fill: $alt-titel-cl;
  }
}
