$main-text-cl: #212121;
$title-cl: #757575;
$accent-cl: #2196f3;
$accent-cl-focus: #188ce8;
$alt-titel-cl: #ffffff;
$link-ft-text: rgba(255, 255, 255, 0.6);
$link-ft-bgc: rgba(255, 255, 255, 0.1);
$link-fill: #afb1b8;

//цвет фона
$dark-bg: #2f303a;
$second-bg: #f5f4fa;

//шрифты
$main-font: "Roboto", sans-serif;
$title-font: "Raleway", sans-serif;
